body {
    background-color: lightsalmon;

}

.WOW {
    color: papayawhip;
}

.hello {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}
.hello span {
    color:rgb(119, 168, 109);
}